h2 {
    text-align: center;
}

.collapse {
    background-color: rgb(79, 79, 187);
    font-weight: bold;
    border: 1px solid black;
    margin-top: 10px;
    animation: fadeIn 2s ease-in-out;
}


.icon-style {
    font-size: 30px;
    width: 36px;
    height: 36px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}