h3 {
    margin-bottom: 0px;
}
.tech-row {
    padding-top: 10px;
}

.icon-img {
    width: 15%;
}


.text-ctn {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}